<div class="row" style="margin-bottom: 32px;">
  <div class="col-sm">

    <ul id="toggle-tabs" class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" id="options-tab" data-toggle="tab" href="#options" role="tab" aria-controls="options" aria-selected="true">Options</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="definition-tab" data-toggle="tab" href="#definition" role="tab" aria-controls="definition" aria-selected="false">Definition</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="preview-tab" data-toggle="tab" href="#preview" role="tab" aria-controls="preview" aria-selected="false">Preview</a>
      </li>
    </ul>

  </div>
</div>

<div class="row">
  <div class="col-sm">

    <div class="tab-content" id="toggle-tabs-content">
      <div class="tab-pane fade show active" id="options" role="tabpanel" aria-labelledby="options-tab">

      </div>

      <div class="tab-pane fade" id="definition" role="tabpanel" aria-labelledby="definition-tab">
        <%= render partial: "definition", object: @toggle %>
      </div>

      <div class="tab-pane fade" id="preview" role="tabpanel" aria-labelledby="preview-tab">
        <%= render partial: "riddler_admin/preview_toggle", locals: { preview_contexts: @preview_contexts, toggle: @toggle } %>
      </div>
    </div>

  </div>
</div>
