/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
.ui-state-active {
  background-color: #ff6;
  border: 2px solid black;
}

.ui-state-active {
  background-color: #eee;
  border: 2px solid blue;
}
