<h4>Context</h4>

<div class="row">
  <div class="col-3">
    <div class="list-group" id="context-sections-tab" role="tablist">
      <a class="list-group-item list-group-item-action active" id="list-context-params" data-toggle="list" href="#context-params" role="tab" aria-controls="context-params">Params</a>
      <a class="list-group-item list-group-item-action" id="list-context-headers" data-toggle="list" href="#context-headers" role="tab" aria-controls="context-headers">Headers</a>
    </div>
  </div>
  <div class="col-9">
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="context-params" role="tabpanel" aria-labelledby="list-context-params">
        <textarea class="form-control" id="context-params-source" rows="10"></textarea>
      </div>
      <div class="tab-pane fade" id="context-headers" role="tabpanel" aria-labelledby="list-context-headers">
        <textarea class="form-control" id="context-headers-source" rows="10"></textarea>
      </div>
    </div>
  </div>
</div>
