<div class="row">
  <div class="col-sm">
    <h4>Step Definition</h4>
  </div>
</div>

<div class="row">
  <div class="col-sm">
    <pre>
    <%= JSON.pretty_generate definition.definition_hash %>
    </pre>
  </div>
</div>
