<div class="row">
  <div class="col-sm">
    <h4>Step Preview</h4>
  </div>
</div>

<div class="row">
  <div class="col-sm">
    <%= link_to "Refresh Preview", preview_step_path(@step), id: "step-preview-refresh", remote: true, method: :post %>

    <pre id="step-preview-content"></pre>
  </div>
</div>
