<div class="row">
  <div class="col-sm">
    <% if notice %>
    <div class="alert alert-success">
      <span id="notice"><%= notice %></span>
    </div>
    <% end %>
  </div>
</div>

<div class="row" style="margin-bottom: 32px;">
  <div class="col-sm-6">
    <h1><%= @slug.name %> slug</h1>
  </div>
  <div class="col-sm-6">
    <%= link_to "Edit", edit_slug_path(@slug), class: "btn btn-primary float-right" %>
  </div>
</div>
