<div class="row">
  <% if notice %>
  <div class="col-sm">
    <span id="notice"><%= notice %></span>
  </div>
  <% end %>
</div>

<div class="row">
  <div class="col">
    <h1><%= ::RiddlerAdmin.config.app_name %> Dashboard</h1>
  </div>
</div>
