<ul class="list-group">
  <% if data["message"].present? %>
    <li class="list-group-item">
      <%= data["message"] %>
    </li>
  <% else %>
    <li class="list-group-item">
      <%= data["enabled"] %>
    </li>
  <% end %>
</ul>
