<div class="row">
  <div class="col-sm">
    <% if notice %>
    <div class="alert alert-success">
      <span id="notice"><%= notice %></span>
    </div>
    <% end %>
  </div>
</div>

<div class="row" style="margin-bottom: 32px;">
  <div class="col-sm-6">
    <h1><%= @feature_flag.title %></h1>
  </div>
  <div class="col-sm-6">
    <%= link_to 'Edit FeatureFlag', edit_feature_flag_path(@feature_flag), class: 'btn btn-light float-right' %>
  </div>
</div>

<%= render partial: @feature_flag.to_partial_path("show") %>
