<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-sm">
        <h1>Editing Email</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-sm">
        <%= render 'form', email: @email %>

        <%= link_to 'Back', @email %>
      </div>
    </div>
  </div>
</div>
