<%= f.fields_for :options, OpenStruct.new(feature_flag.options) do |ff| %>
  <div class="form-row">
    <div class="form-group col">
      <%= ff.label :condition %>
      <%= ff.text_field :condition, class: "form-control" %>
    </div>
  </div>
<% end %>
