<div class="row">
  <div class="col-sm">
    <h4>Toggle Definition</h4>
  </div>
</div>

<div class="row">
  <div class="col-sm">
    <pre><%= definition.definition_hash.to_yaml %></pre>
  </div>
</div>
