<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-sm">
        <h1>Editing Toggle</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-sm">
        <%= render 'form', toggle: @toggle %>

        <%= link_to 'Back', @toggle %>
      </div>
    </div>
  </div>
</div>
