<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-sm">
        <h1>New Toggle</h1>
      </div>
    </div>
    <%= render "form", toggle: @toggle %>
  </div>
</div>
